# Challenge: Billboard Top 100 dataset
Este conjunto de datos representa la clasificación semanal de las canciones desde el momento en que ingresan al Billboard Top 100 hasta las 75 semanas siguientes.

### Problemas:
- Los encabezados de las columnas se componen de valores: el número de semana (x1st.week,…)
- Si una canción está en el Top 100 durante menos de 75 semanas, las columnas restantes se llenan con los valores faltantes.

In [1]:
import pandas as pd

Vamos a importar los datos y a mostrar las primeras 10 filas. ¿Puedes notar cuáles columnas tiene valores en lugar nombres en sus variables?

In [29]:
df = pd.read_csv("billboard.csv", encoding="mac_latin2")
df.head(10)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,Janet,Doesn't Really Matter,4:17,Rock,2000-06-17,2000-08-26,59,52.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,Destiny's Child,Say My Name,4:31,Rock,1999-12-25,2000-03-18,83,83.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,2000-04-01,2000-06-24,63,45.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,Sisqo,Incomplete,3:52,Rock,2000-06-24,2000-08-12,77,66.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,81,54.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 1. Los encabezados de las columnas se componen de valores: el número de semana (x1st.week,…)

Recuerda que el melting es una técnica utilizada cuando un conjunto de columnas con las que contamos corresponden a una misma variable, de tal manera que dichos nombres pasarán a ser valores dentro de una misma columna y sus valores en las celdas también serán almacenados en otra columna contigua.

Intrucciones: En el siguiente bloque de código realiza lo siguiente.
- Crea una lista con los nombres de las columnas que cumplen el criterio de Tidy Data (el nombre de la columna es una variable y no un valor) y almacénala en **id_vars**
- Asigna al argumento **var_name** el nombre "week"
- Asigna al argumento **value_name** el nombre "rank"

In [28]:
# Melting year	artist.inverted	track	time	genre	date.entered	date.peaked
id_vars = ["artist.inverted","year"]
# Pon aquí las variables con tidy data
df = pd.melt(frame=df,id_vars=id_vars, var_name='week', value_name="rank")
df

C:\Users\sabri\AppData\Local\Temp\ipykernel_10340\663309009.py:4: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  df = pd.melt(frame=df,id_vars=id_vars, var_name='week', value_name="rank")

KeyError: "The following 'id_vars' are not present in the DataFrame: ['year']"

¿Qué es lo que contiene la columna "week"? ¿Qué es lo que contiene la columna "rank"?

### ¡Genial! Ya has convertido los nombres de esas columnas en valores, has cumplido un principio básico de tidy data.

![image.png](https://i.pinimg.com/474x/e7/fe/41/e7fe410c017990839d8ef66f31f4ebe6.jpg)

Bueno, todavía no hemos terminado, fíjate en los valores en la columna "week".
Imagina que permites al usuario ingresar un número para filtrar las observaciones y obtener únicamente las canciones que estuvieron en Billboard 50 semanas pero el parámetro lógicamente será un número, ¿no le pedirías al usuario que escriba "x50th.week" como parámetro de entrada, verdad?... ¡¿verdad?! D:

Limpiemos un poco más esos datos :D

Intrucciones: En el siguiente bloque de código realiza lo siguiente.
- Utiliza el método [extract de str](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.extract.html) sobre la columna **week** y pásale como primer argumento la expresión *(\d+)*. Lo que hará, será extraer solo los número dentro de cada valor. Increíble, ¿no?. Puntos extra: ¿Puedes explicar qué hizo la expresión *(\d+)*?
- Consulta la documentación de [.str.extract](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.extract.html) y lee la definición del argumento expand. ¿Lo pondrías en True o en False?
- Utiliza [.astype](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html) para convertir la columa entera a **integer**

In [ ]:
# Formatting
df["week"] = df['week'].extract(r'\d+') # Escribe aquí el código para realizar la extracción de caracteres
df["week"] = df['week'].____ # Escribe aquí el código para la conversión

### Uff, lo anterior fue un poco más complicado pero, ¡lo lograste!
Vamos entonces con lo siguiente:
- Vamos a eliminar las filas con NA en sus celdas. Utiliza .dropna(), por ahora así, a capela, pero te dejo la [documentación](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html) por acá para casos más "especiales".

In [ ]:
df = df.dropna()
df

¿Recuerdas que alteramos la columna **week**? Bueno, vamos a quedarnos con ella y con las columnas que nos interesan. Vamos a reasignar el data frame original.
Solo nos falta una columna, ¿cuál es?

In [ ]:
df = df[["year", 
         "artist.inverted",
         "track",
         "time",
         "genre",
         "____",
         "rank",
         "date.entered"]]
df = df.sort_values(ascending=True, by=["year","artist.inverted","track","____","rank"])

In [ ]:
# Asignamos el dataframe resutlante a una variable para futuros usos
billboard = df

# Veamos cómo quedó el data frame. ¿Ahora sí cumple con todos los criterios de Tidy Data?
billboard.head(10)